---
// Propiedades de la card
interface Props {
  title: string;
  body: string;
  href: string;
  imgSrc: string;
}

const { href, title, body, imgSrc } = Astro.props;
---

<div class="container">
  <li class="card">
    <a href={href}>
      <div class="image">
        <img src={imgSrc} alt={title} />
      </div>
      <div class="content">
        <h2>{title}</h2>
        <p>{body}</p>
      </div>
    </a>
  </li>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #718eec;
    margin: 20px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
    overflow: hidden;
  }

  .card:hover {
    height: 320px;
  }

  .card .image {
    position: relative;
    width: 260px;
    height: 160px;
    top: -40px;
    left: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .card .image img {
    max-width: 100%;
    border-radius: 15px;
  }

  .card .content {
    position: relative;
    top: -80px;
    padding: 10px 15px;
    color: #111;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  .card:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
  }

  h2 {
    margin: 0;
    font-size: 1.25rem;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
</style>
